absl-py==2.3.1
accelerate==1.13.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
apsw==3.53.0.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.3.0
async-timeout==5.0.1
attrs==25.4.0
av==17.0.1
babel==2.18.0
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
cachetools==6.2.4
-e git+https://github.com/cambrian-mllm/cambrian-s.git@9b770e46ed09ff0245f6455b7e091e9ace8c22ee#egg=cambrian
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.4.1
clip @ git+https://github.com/ultralytics/CLIP.git@81ff68ed7ffcac3b40484c914f104f816757308d
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.2
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cycler==0.12.1
dash==4.1.0
debugpy==1.8.20
decorator==4.4.2
decord==0.6.0
defusedxml==0.7.1
-e git+https://github.com/ByteDance-Seed/Depth-Anything-3.git@41736238f5bced4debf3f2a12375d2466874866d#egg=depth_anything_3
diffusers==0.38.0
-e git+https://github.com/cocowy1/DirectMe.git@7fd9cc3a08a92b7204c07254abda84a893fbc6e0#egg=directme
distlib==0.4.0
distro==1.9.0
e3nn==0.6.0
einops==0.6.1
einops-exts==0.0.4
eva-decord==0.6.1
evo==1.36.3
exceptiongroup==1.3.1
executing==2.2.1
EzColorLog==1.0.3
fastapi==0.125.0
fastjsonschema==2.21.2
filelock==3.29.0
Flask==3.1.3
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.4.0
ftfy==6.3.1
gcsfs==2024.3.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==1.34.1
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
google-cloud-storage==2.14.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
h11==0.16.0
hf==1.13.0
hf-xet==1.5.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.16.3
humanfriendly==10.0
hydra-core==1.3.2
identify==2.6.19
idna==3.16
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
iniconfig==2.3.0
iopath==0.1.10
ipykernel==7.2.0
ipython==8.37.0
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.3
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.18.1
jupyter_server_terminals==0.5.4
jupyterlab==4.5.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lark==1.3.1
latex2mathml==3.78.1
llvmlite==0.47.0
lz4==4.4.5
markdown-it-py==4.2.0
markdown2==2.5.4
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.7.0
narwhals==2.20.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nodeenv==1.10.0
notebook==7.5.6
notebook_shim==0.2.4
numba==0.65.1
numexpr==2.14.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
nvitop==1.6.1
oauthlib==3.3.1
omegaconf==2.3.0
open3d==0.19.0
open_clip_torch==2.32.0
openai==2.34.0
opencv-python==4.11.0.86
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
overrides==7.7.0
packaging==26.2
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
peft==0.4.0
pexpect==4.9.0
pillow==12.0.0
pillow_heif==1.3.0
platformdirs==4.5.1
plotly==6.7.0
pluggy==1.6.0
plyfile==1.1.3
polars==1.40.1
polars-runtime-32==1.40.1
portalocker==3.2.0
pre_commit==4.6.0
proglog==0.1.12
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==3.20.3
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycolmap==4.0.4
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pykitti==0.3.1
pyparsing==3.3.2
pypose==0.9.5
pyquaternion==0.9.9
pytest==9.0.3
python-dateutil==2.9.0.post0
python-discovery==1.2.2
python-json-logger==4.1.0
pytz==2026.2
PyYAML==6.0.3
pyzmq==27.1.0
qwen-vl-utils==0.0.14
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rosbags==0.11.1
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.19.1
safetensors==0.8.0rc0
-e git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4#egg=SAM_2
-e git+https://github.com/zju3dv/Scal3R.git@dea3d6aa5a50b90aa990876498917dddb14be72b#egg=scal3r
scikit-learn==1.2.2
scipy==1.15.3
seaborn==0.13.2
Send2Trash==2.1.0
sentencepiece==0.1.99
sentry-sdk==2.48.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
stack-data==0.6.3
starlette==0.50.0
svgwrite==1.4.3
sympy==1.13.1
tabulate==0.9.0
terminado==0.18.1
threadpoolctl==3.6.0
timm==0.9.16
tinycss2==1.4.0
tokenizers==0.22.1
tomli==2.4.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchtext==0.18.0
torchvision==0.20.1+cu121
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==5.9.0
trimesh==4.12.2
triton==3.1.0
typer==0.25.1
typer-slim==0.20.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ultralytics==8.4.46
ultralytics-thop==2.0.19
uri-template==1.3.0
urllib3==2.6.2
uvicorn==0.38.0
virtualenv==21.3.1
wandb==0.23.1
wavedrom==2.0.3.post3
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
xformers==0.0.29.post1
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
